<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拍照</title>
</head>
<body>
<video id="video" width="640" height="480" autoplay="autoplay"></video>
<!--拍照按钮-->
<div>
    <button id="capture">拍照</button>
</div>
<!--描绘video截图-->
<!-- <canvas id="canvas" width="640" height="480"></canvas> -->
<canvas id="canvas" width="640" height="360">
<script>
    let video = document.getElementById("video");
    let canvas = document.getElementById("canvas");
    let context = canvas.getContext("2d");

    // 老的浏览器可能根本没有实现 mediaDevices，所以我们可以先设置一个空的对象
    if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
    }

    // 一些浏览器部分支持 mediaDevices。我们不能直接给对象设置 getUserMedia
    // 因为这样可能会覆盖已有的属性。这里我们只会在没有getUserMedia属性的时候添加它。
    if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function (constraints) {

            // 首先，如果有getUserMedia的话，就获得它
            var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

            // 一些浏览器根本没实现它 - 那么就返回一个error到promise的reject来保持一个统一的接口
            if (!getUserMedia) {
                return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
            }

            // 否则，为老的navigator.getUserMedia方法包裹一个Promise
            return new Promise(function (resolve, reject) {
                getUserMedia.call(navigator, constraints, resolve, reject);
            });
        }
    }

    //默认使用前摄像头，强制使用后置摄像头如下设置
    // let constraints = {video: { facingMode: { exact: "environment" } }};
    let constraints = {video: true};
    navigator.mediaDevices.getUserMedia(constraints)
        .then(function (stream) {
            // 旧的浏览器可能没有srcObject
            if ("srcObject" in video) {
                video.srcObject = stream;
            } else {
                // 防止在新的浏览器里使用它，应为它已经不再支持了
                video.src = window.URL.createObjectURL(stream);
            }
            video.onloadedmetadata = function (e) {
                video.play();
            };
        })
        .catch(function (err) {
            console.log(err.name + ": " + err.message);
        });

    //注册拍照按钮的单击事件
    document.getElementById("capture").addEventListener("click", function () {
        //绘制画面
        //context.drawImage(video, 0, 0, 640, 480);
        context.drawImage(video, 0, 0, 640, 360);
        //var imgData = canvas.toDataURL(); //将图像转换为base64数据
        var imgData = canvas.toDataURL("image/jpeg"); //将图像转换为base64数据
        postData = "img="+encodeURIComponent(imgData) + "&colors="+encodeURIComponent(JSON.stringify(
            {
                "red":{
                    "area":[309, 298, 307, 89],
                    "range":[ [[100, 141,   0], [180, 255, 255]] ],
                    "std_measure": 23635.5
                }
            }
        ))
        ajaxPost("/check/std",postData)
    });

    function httpPost(URL, img) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        
        var opt = document.createElement("input");
        opt.name = "img";
        opt.value = img;
        temp.appendChild(opt);
        var opt = document.createElement("input");
        opt.name = "colors";
        opt.value = JSON.stringify({
                "red":{
                    "area":[309, 298, 307, 89],
                    "range":[ [[100, 141,   0], [180, 255, 255]] ],
                    "std_measure": 23635.5
                }
            });
        temp.appendChild(opt);
        
        document.body.appendChild(temp);
        temp.submit();
        
        return temp;
    }

// ajax 对象
function ajaxObject() {
    var xmlHttp;
    try {
        // Firefox, Opera 8.0+, Safari
        xmlHttp = new XMLHttpRequest();
        } 
    catch (e) {
        // Internet Explorer
        try {
                xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            try {
                xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e) {
                alert("您的浏览器不支持AJAX！");
                return false;
            }
        }
    }
    return xmlHttp;
}
 
// ajax post请求：
function ajaxPost ( url , data , fnSucceed , fnFail , fnLoading ) {
    var ajax = ajaxObject();
    ajax.open( "post" , url , true );
    ajax.setRequestHeader( "Content-Type" , "application/x-www-form-urlencoded" );
    ajax.onreadystatechange = function () {
        if( ajax.readyState == 4 ) {
            if( ajax.status == 200 ) {
                //function(){
                    console.log(ajax.responseText);
                //};
            }
            else {
                //function(){
                    console.log("HTTP请求错误！错误码："+ajax.status);
                //};
            }
        }
        else {
            fnLoading();
        }
    }
    ajax.send( data );
 
}

    function postJson() {
        //开始异步上               
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/check/multihsv", true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.setRequestHeader("kbn-version", "5.3.0");
        xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                window.location.href = us.nextUrl;
            }
        }
        };
        xhr.send(JSON.stringify({
            "img": imgData,
            "colors": {
                "red":{
                    "area":[309, 298, 307, 89],
                    "range":[ [[100, 141,   0], [180, 255, 255]] ],
                    "std_measure": 23635.5
                }
            }
        }));
    }
</script>
</body>
</html>